In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("batch48_db1.db")

In [3]:
cur=con.cursor()

In [4]:
q="alter table emp add deptno NUMBER"
cur.execute(q)

In [5]:
q="update emp set deptno =10"
cur.execute(q)

In [6]:
con.commit()

In [7]:
q="select * from emp where id=101"
cur.execute(q)

In [8]:
data=cur.fetchall()
print data

[(101, u'scott', u'USA', 10)]

In [10]:
print "DB operations: \n\t1.insert\n\t2.update\n\t3.delete\n\t4.select"

DB operations:
	1.insert
	2.update
	3.delete
	4.select
Enter an option:

In [ ]:
option=raw_input("Enter an option: ")
if option==1:
    id=int(raw_input("enter id"))
    name=int(raw_input("enter name"))
    id=int(raw_input("enter id"))