In [ ]:
print "Welcome to Sales Management\n\t1.LOGIN\n\t2.REGISTER\n\t3.QUIT"
option=raw_input("enter an option: ")
option=int(option)
if option == 3:
    print "You have opted for Quit. Thank you"
if option == 1:
    #print "LOGIN PAGE"
    print "*"*12,"LOGIN PAGE","*"*12
    user_name = raw_input("enter user name: ")
    password = raw_input("enter password: ")

In [2]:
print "hello123"

hello123

In [9]:
print "Welcome to Sales Management\n\t1.LOGIN\n\t2.REGISTER\n\t3.QUIT"
option=raw_input("enter an option: ")
if option == "3" or option.lower()=="quit":
    print "You have opted for Quit. Thank you"
if option == "1":
    print "*"*56
    print "*"*22,"LOGIN PAGE","*"*22
    print "*"*56
    user_name = raw_input("enter user name: ")
    password = raw_input("enter password: ")

Welcome to Sales Management
	1.LOGIN
	2.REGISTER
	3.QUIT
enter an option: QUIT
You have opted for Quit. Thank you

In [42]:
from datetime import date
print "Welcome to Sales Management\n\t1.LOGIN\n\t2.REGISTER\n\t3.QUIT"
option=raw_input("enter an option: ")
if option == "3" or option.lower()=="quit":
    print "You have opted for Quit. Thank you"
if option == "1":
    print "*"*56
    print "*"*22,"LOGIN PAGE","*"*22
    print "*"*56
    user_name = raw_input("enter user name: ")
    password = raw_input("enter password: ")

Welcome to Sales Management
	1.LOGIN
	2.REGISTER
	3.QUIT
enter an option: 3
You have opted for Quit. Thank you

In [19]:

print "Welcome to Sales Management\n\t1.LOGIN\n\t2.REGISTER\n\t3.QUIT"
option=raw_input("enter an option: ")
if option == "3" or option.lower()=="quit":
    print "You have opted for Quit. Thank you"
if option == "1" or option.lower()=="login":
    print "*"*56
    print "*"*22,"LOGIN PAGE","*"*22
    print "*"*56
    user_name = raw_input("enter user name: ")
    password = raw_input("enter password: ")
if option == "2" or option.lower()=="register":
    print "*"*56
    print "           WELCOME TO REGISTRATION PAGE"
    print "*"*56

Welcome to Sales Management
	1.LOGIN
	2.REGISTER
	3.QUIT
enter an option: 3
You have opted for Quit. Thank you

In [20]:
import sqlite3

In [22]:
    conn=sqlite3.connect(salesmanagement_db.db)

NameError: name 'salesmanagement_db' is not defined

In [23]:
conn=sqlite3.connect("salesmanagement_db.db")

In [25]:
cur=conn.cursor()

In [26]:
cur.execute("create table CUSTOMER(Name VARCHAR2(50),pin code NUMBER,city VARCHAR2(20),state VARCHAR2(20),\
country VARCHAR2(20),email VARCHAR2(30),phone VARCHAR2(10),password VARCHAR2(20),creat_ts date,role VARCHAR2(10))")

In [53]:
from datetime import datetime
now=date.today()
print type(now)

<type 'datetime.date'>

In [62]:
try:
    from datetime import datetime
    cur.execute("insert into CUSTOMER values("mahesh",50053,"HYD5","TELANGANA","IND","mahesh21@gmail.com","9000284833","rajaiah@1",date.today(),"CUSTOMER")")
except:
    print "error"

SyntaxError: invalid syntax (<ipython-input-62-ac756342a157>, line 3)