In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("batch48_db1.db")

In [3]:
cur=con.cursor()

In [4]:
cur.execute("create table emp(id NUMBER,name VARCHAR2(250),loc VARCHAR2(500))")

In [6]:
cur.execute("insert into emp(id,name,loc) values(101,'scott','USA')")

In [7]:
cur.execute("insert into emp(id,name,loc) values(102,'BLAKE','NEWYORK')")

In [8]:
con.commit()

In [10]:
names=["CLARK","SURAj","pavan","sathish","JAMES","RAKESH","dhanush","SAI"]
address=["ameerpet","srnagar","ESI","sanathnagar","hiteccity","KPHB"]
import random
print random.choice(names)

JAMES

In [12]:
import random
names=["CLARK","SURAj","pavan","sathish","JAMES","RAKESH","dhanush","SAI"]
loc=["ameerpet","srnagar","ESI","sanathnagar","hiteccity","KPHB"]
for i in xrange(102,200):
    q="insert into emp(id,name,loc) values(%s,'%s','%s')"%(i,random.choice(names),random.choice(loc))
    cur.execute(q)
    con.commit()

In [15]:
output=cur.execute("select * from emp where id=101")
print output

<sqlite3.Cursor object at 0x0000000005EC3C70>

In [17]:
import pandas as pd
pd.output=cur.execute("select * from emp where id=101")

In [18]:
print pd.output

<sqlite3.Cursor object at 0x0000000005EC3C70>

In [19]:
pd.output

In [20]:
print 'hello'

hello

In [22]:
import sqlite3
con=sqlite3.connect("batch48_db1.db")
cur=con.cursor()
q="alter table emp add deptno NUMBER"
cur.execute(q)

OperationalError: database is locked