In [2]:
d={101:10,102:20, 103:30}
print type(d),d

<type 'dict'> {101: 10, 102: 20, 103: 30}

In [3]:
d={101:10,102:20, 103:30}
d1={104:10,105:20, 106:30}
print d+d1
print type(d),d

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [4]:
d1={1:2,"ke":"val"}
print d1

{1: 2, 'ke': 'val'}

In [5]:
d1={1:2,[1,2,3]:(10,20,30)}
print d1

TypeError: unhashable type: 'list'

In [6]:
d1={1:2,"ke":"va",(1,2):"tuple",1+2j:"complex","list":[1,2,3,4]}
print d1

{(1, 2): 'tuple', 1: 2, 'list': [1, 2, 3, 4], 'ke': 'va', (1+2j): 'complex'}

In [7]:
d={1:10,1:20,2:30,3:40,2:50}
print d

{1: 20, 2: 50, 3: 40}

In [9]:
d1={1:10,1:20,2:30,3:40,2:50}
d2={1:20,1:30,2:60,3:70,2:80}
d1==d2

False

In [10]:
d1={1:10,1:20,3:40}
d2={1:20,1:30,2:60}
d1==d2

False

In [11]:
d1={1:10,2:20}
d2={1:5,2:40}
d1<d2

False

In [12]:
d1={1:10,2:20}
d2={2:5,2:40}
d1<d2

False

In [14]:
d1={3:5}
d2={4:6}
d1<d2

True

In [16]:
d1={3:5}
d2={3:6}
d1==d2

False

In [19]:
d={"k1":"v1","k2":"v2","k3":"v3"}
d["k1"]

'v1'

In [20]:
d={"k1":"v1","k2":"v2","k3":"v3"}
d["k4"]

KeyError: 'k4'

In [22]:
##name , age, salary
e_name=raw_input("enter name of employee: ")
e_age=raw_input("enter age of employee: ")
e_salary=raw_input("enter salary of employee: ")
d1={"name":e_name,"age":e_age,"salary":e_salary}
print d1

enter name of employee: nagesh
enter age of employee: 23
enter salary of employee: 500000
{'salary': '500000', 'age': '23', 'name': 'nagesh'}

In [23]:
##name , age, salary
d={}
e_name=raw_input("enter name of employee: ")
d["name"]=e_name
e_age=raw_input("enter age of employee: ")
d["age"]=e_age
e_salary=raw_input("enter salary of employee: ")
d["salary"]=e_salary
print d1

enter name of employee: mahesh
enter age of employee: 30
enter salary of employee: 400000
{'salary': '500000', 'age': '23', 'name': 'nagesh'}

In [24]:
##update salary
d[salary]=600000
print d

{'salary': '400000', 'age': '30', 'name': 'mahesh', '30000': 600000}

In [26]:
l=["a","b","c","d"]
l1=l
l[0]=10
print l
print l1
l2=l[:]
print l2

[10, 'b', 'c', 'd']
[10, 'b', 'c', 'd']
[10, 'b', 'c', 'd']

In [27]:
l=["a","b","c","d",1000,2000]
l1=l
l2=l[:]
l3=["a","b","c","d",1000,2000]
print l
print l1
print l2
print l3
print "After modifying l"
l[0]=10
print l
print l1
print l2
print l3

['a', 'b', 'c', 'd', 1000, 2000]
['a', 'b', 'c', 'd', 1000, 2000]
['a', 'b', 'c', 'd', 1000, 2000]
['a', 'b', 'c', 'd', 1000, 2000]
After modifying l
[10, 'b', 'c', 'd', 1000, 2000]
[10, 'b', 'c', 'd', 1000, 2000]
['a', 'b', 'c', 'd', 1000, 2000]
['a', 'b', 'c', 'd', 1000, 2000]

In [28]:
d={'salary': '500000', 'age': '23', 'name': 'nagesh'}
d1=d
d1["age"]=50
print d["age"]

50

In [30]:
##copy() method
d={'salary': '500000', 'age': '23', 'name': 'nagesh'}
d1=d.copy()
d2=d
d["age"]=50
d1["age"]=50
print d
print d1
print d2

{'salary': '500000', 'age': 50, 'name': 'nagesh'}
{'salary': '500000', 'age': 50, 'name': 'nagesh'}
{'salary': '500000', 'age': 50, 'name': 'nagesh'}

In [31]:
d={'salary': '500000', 'age': '23', 'name': 'nagesh'}
print d["age"]
print d.get("age")
print d.get("pan","BRZPP3398B")
print d

23
23
BRZPP3398B
{'salary': '500000', 'age': '23', 'name': 'nagesh'}

In [32]:
##update() and setdefault() where update() changes the values of key and setdefault doesnot change key value if key is alvailble
##setdefault() will only take one key value
d={'salary': '500000', 'age': '23', 'name': 'nagesh'}
d.pop("age")
print d

{'salary': '500000', 'name': 'nagesh'}

In [33]:
#pop() method needs key value
d={'salary': '500000', 'age': '23', 'name': 'nagesh'}
d1=d.pop("age")
print d
print d1

{'salary': '500000', 'name': 'nagesh'}
23

In [35]:
d={"name":'mahesh',"name":'nagesh'}
d1=d.pop("name")
print d

{}

In [37]:
d={'salary': '500000', 'age': '23', 'name': 'nagesh'}
d1=d.clear()
d1=d
print d
print d1

{}
{}

In [39]:
d={1:2}
d1=d.fromkeys(range(10),"v1")
print d1

{0: 'v1', 1: 'v1', 2: 'v1', 3: 'v1', 4: 'v1', 5: 'v1', 6: 'v1', 7: 'v1', 8: 'v1', 9: 'v1'}

In [40]:
d.keys()

[1]

In [41]:
d.values()

[2]

In [42]:
d={'salary': '500000', 'age': '23', 'name': 'nagesh'}
print 'nagesh' in d.values()

True

In [43]:
d={'salary': '500000', 'age': '23', 'name': 'nagesh','mobile':9005350450}
for i in d.items():
    print i

('salary', '500000')
('mobile', 9005350450L)
('age', '23')
('name', 'nagesh')

In [44]:
d={'salary': '500000', 'age': '23', 'name': 'nagesh','mobile':9005350450}
for k,v in d.items():
    print k

salary
mobile
age
name

In [50]:
def fun():
    print "st1"
    return 10
    print "st2"
    return 30
result=fun()
print result

st1
10

In [52]:
def fun():
    print "st1"
    yield 10
    print "st2"
    yield 20
    print "st3"
    yield 30
result=fun()
print result

<generator object fun at 0x0000000005AE3FC0>

In [53]:
d={1:10,2:40, 3:50}
print type(d)

<type 'dict'>

In [54]:
for i in range(10):
    print i

0
1
2
3
4
5
6
7
8
9

In [55]:
for i in xrange(10):
    print i

0
1
2
3
4
5
6
7
8
9