In [19]:
name = "Anil kumar"
age = 23
height=5.67342
#Name:Anil kumar, Age:23, Height :5.67342
print ("Name:"+name+", "+"Age:"+str(age)+", "+"Height:"+str(height))

Name:Anil kumar, Age:23, Height:5.67342

In [20]:
s=raw_input("Enter city name:")
print s

Enter city name:Hyderabad
Hyderabad

In [21]:
s=raw_input("Enter city name:")
print s

Enter city name:Banglore
Banglore

In [22]:
#cityname had a good climate today
s=raw_input("Enter city name:")
print s+"had a good climate today"

Enter city name:Hyderabad
Hyderabadhad a good climate today

In [25]:
#cityname had a good climate today
s=raw_input("Enter city name:")
print s,"had a good climate today"

Enter city name:Hyderabad
Hyderabad had a good climate today

In [28]:
#the cost for the apple is 23.45
product =raw_input("enter the product: ")
price = raw_input("enter the cost of product: ")
print "The cost for the",product,"is",price

enter the product: Apple
enter the cost of product: 23.45
The cost for the Apple is 23.45

In [34]:
#Name:Anil kumar, Age:23, Height :5.67342
name = raw_input("enter name")
age = raw_input("enter age")
height=raw_input("enter height")
print "Name:"+name+",","Age:"+age+",","Height:"+height
#print ("Name:"+name+", "+"Age:"+str(age)+", "+"Height:"+str(height))

enter nameMahesh kumar
enter age30
enter height5.6
Name:Mahesh kumar, Age:30, Height:5.6

In [37]:
#Name:Anil kumar, Age:23, Height :5.67342
name = raw_input("enter name")
age = raw_input("enter age")
height=raw_input("enter height")
print "Name:"+name+",","Age:"+age+",","Height:"+height
print name,type(name)
print age,type(age)
print height,type(height)

enter nameAnil kumar
enter age30
enter height5.611
Name:Anil kumar, Age:30, Height:5.611
Anil kumar <type 'str'>
30 <type 'str'>
5.611 <type 'str'>

In [38]:
#take 2 numbers from user to add
a=int(raw_input("enter first number"))
b=int(raw_input("enter second number")
sum=int(a+b)
print "the sum of a,b is:",sum

enter first number10
enter second number20
the sum of a,b is: 1020

In [41]:
#take 2 numbers from user to add
a=int(raw_input("enter first number: "))
b=int(raw_input("enter second number:"))
sum=a+b
print "the sum of a,b is:",sum

enter first number: 10
enter second number:20
the sum of a,b is: 30

In [42]:
#take 2 numbers from user to add
a=int(raw_input("enter first number: "))
b=float(raw_input("enter second number:"))
sum=a+b
print "the sum of a,b is:",sum

enter first number: 30
enter second number:30.50
the sum of a,b is: 60.5

In [44]:
#take 2 numbers from user to add
a=float(raw_input("enter first number: "))
b=float(raw_input("enter second number:"))
sum=a+b
print "the sum of a,b is:",sum

enter first number: 30.30
enter second number:40.60
the sum of a,b is: 70.9

In [ ]:
#first 1-7 assignments and push it to github