In [3]:
a=raw_input("enter a value")
print type(a)

enter a value20
<type 'str'>

In [4]:
a=input("enter a value: ")
print a, type(a)

enter a value: 10
10 <type 'int'>

In [5]:
a=input("enter a value: ")
print a, type(a)

enter a value: [1,30,40]
[1, 30, 40] <type 'list'>

# #In python 3.6 version, input() was removed and renamed as raw_input() as input() function . In 2.6 version, there are 2 functions input() and raw_input() fucntion.

In [7]:
a=input("enter a value: ")
print a, type(a)
b=raw_input("enter b value: ")
print b, type(b)

enter a value: 10
10 <type 'int'>
enter b value: 20
20 <type 'str'>

In [8]:
#Format Specitifiers
print 'python'
print "Python"

python
Python

In [9]:
#there is no difference between single quotation and double quotation in python
print 'python\ncpp'
print "python\ncpp"

python
cpp
python
cpp

In [11]:
#it's a "cool" day in hyderabad
print "it's a cool day in hyderabad"

it's a cool day in hyderabad

In [12]:
#it's a "cool" day in hyderabad
print "it's a 'cool' day in hyderabad"

it's a 'cool' day in hyderabad

In [13]:
#it's a "cool" day in hyderabad
print "it's a '"cool"' day in hyderabad"

SyntaxError: invalid syntax (<ipython-input-13-e0470455853c>, line 2)

In [14]:
#it's a "cool" day in hyderabad
print "it's a "'cool'" day in hyderabad"

it's a cool day in hyderabad

In [15]:
#it's a "cool" day in hyderabad
print "it's a /"cool" day in hyderabad"

SyntaxError: invalid syntax (<ipython-input-15-9dc32643e4bb>, line 2)

In [17]:
#Format Specifier backslach(\) which ignores special characters
#it's a "cool" day in hyderabad
print "it's a \"cool\" day in hyderabad"

it's a "cool" day in hyderabad

In [19]:
#Format Specifiers: %s, %d, %f, %o, %x, %r
print "%s"

%s

In [26]:
#cost price of apple is: 12
cost=12.34
product="apple"
print "the cost price of apple is:" + int(cost)

TypeError: cannot concatenate 'str' and 'int' objects

In [29]:
#cost price of apple is: 12
cost=12.34
product="apple"
print int(cost)
print "the cost price of apple is:"+str(int(cost))

12
the cost price of apple is:12

In [ ]:
# %d -- to convert to Integer
# %f -- to convert to Float
# %s -- to convert to String
# %r -- to convert to raw string
# %x -- to convert to hexa decimal
# %o -- to convert to Octal

In [31]:
#cost price of apple is: 12
cost=12.34
product="apple"
print int(cost)
print "the cost price of %s is:%d"%(product, cost)

12
the cost price of apple is:12

In [44]:
#Name:Jayaram, Age:1.6, Height:5.67, Weight:10
name="Jayaram"
age=10
height=4.6453343
weight=20
print "Name:%s, Age:%s, Height:%s, Weight:%d"%(name,age,height,weight)
print"Name:%s"%(name)+", "+"Age:%d"%(age)+", "+"Height:%f"%(height)+", "+"Weight:%s"%(weight)
##we want only 2 decimal place then use %.2f
print "Name:%s, Age:%s, Height:%.2f, Weight:%d"%(name,age,height,weight)

Name:Jayaram, Age:10, Height:4.6453343, Weight:20
Name:Jayaram, Age:10, Height:4.645334, Weight:20
Name:Jayaram, Age:10, Height:4.65, Weight:20

In [45]:
#
print"%x"%1234
print "%o"%1234

4d2
2322

In [46]:
ord("a")

97

In [47]:
chr(97)

'a'

In [30]:
#cost price of apple is: 12
cost=12.34
product="apple"
print int(cost)
print "the cost price of apple is:%d"%cost

12
the cost price of apple is:12